version: '3.7'

services:
  hlservice.debugtest:
    environment:
      Register_Conn: ${REGISTER_CONN:-consul:8500}
      Register_SessionTimeout: ${REGISTER_SESSION_TIMEOUT:-50}
      UseEngineParts: ${NORMAL_SERVER_ENGINE}
      EventBusConnection: ${RABBITMQ_CONNECTION:-rabbitmq}
      EventBusUserName:  ${RABBITMQ_USERNAME:-rabbitmq}
      EventBusPassword:  ${RABBITMQ_PASSWORD:-rabbitmq}
      EventBusPort: ${RABBITMQ_PORT:-5672}
      SwaggerTitle: "测试调式服务组件"
      SwaggerDes: "用于调式源代码的服务组件"
      SupportName: "LiuHongliang"
      SupportEmail: 1029765111@qq.com
    ports:
      - "18070:8080"
